<ul>
  <h1> Документация API: </h1>
  <% @swagger_url.each_key do |k| %>
    <li>
      <% link_name = @api_versions_description[k] || k %>
      <h1> <%= link_to link_name, swagger_doc_path(k) %> </h1>
    </li>
  <% end %>
</ul>
